.App {
    /* height: 100vh; */
}
.App-header h1{
text-align: center;
margin: 0.2rem;
}
#loading{
    display: none;
}
.fetchdata {
    /* border: 1px solid red; */
    display: flex;
    gap: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

.fetchdata .leftsearch {
    margin: auto;
}

.fetchdata .rightsearch {
    margin: auto;

}

.item-list {
    display: flex;
    justify-content: center;
}

.leftsearch,
.rightsearch {
    display: flex;
    align-items: center;
}

/* buuton */
.custom-btn {
    max-width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-2 {
    background: rgb(96, 9, 240);
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    border: none;

}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}






/* input css */

.fancy {
    position: relative;
    width: 300px;
    height: 2rem;
    max-width: 100%;
    background: #edf6f9;
    border-radius: 50px;
    overflow: hidden;
    --offset: 3px;
}

.fancy::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background: conic-gradient(transparent 180deg, #006d77, #006d77);
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    animation: rotate 2s linear infinite;
}

.fancy::after {
    content: "";
    position: absolute;
    width: calc(100% - 2 * var(--offset));
    height: calc(100% - 2 * var(--offset));
    inset: var(--offset);
    background: inherit;
    border-radius: inherit;
}

.fancy input {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 199rem;
    position: absolute;
    color: #3a60fc;
    background: transparent;
    font-size: 1rem;
    inset: 0;
    padding: 1rem;
    z-index: 1;
    outline: none;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}


@media screen and (max-width: 800px) {

    .fetchdata {
        display: block;
        padding: 0.2rem;

    }

    .leftsearch .fancy input[type="text"]::placeholder {
    }

    .item-list {
        display: block;
    }

    main[role="main"] {
        /* display: block; */
        width: 20rem;
    }

    .product-summary {
        margin-top: 3rem;
    }

    .App {
        height: auto;
    }

}